{% extends 'shared/nav.html' %}
{% block titulo %}Inicio{% endblock %}
{% block content %}

<style>
  .card {
    border: none;
    border-radius: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }

  .card-icon {
    font-size: 4rem;
    margin-bottom: 1rem;
  }

  .btn-custom {
    border-radius: 30px;
    padding: 0.5rem 2rem;
  }

  .btn-primary:hover {
    background-color: #004085;
  }

  /* Estilos para el modo oscuro */
  body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
  }

  .card.dark-mode {
    background-color: #333333;
    color: #e0e0e0;
  }

  .card-body.dark-mode {
    background-color: #444444;
    color: #e0e0e0;
  }

  .btn-custom.dark-mode {
    background-color: #611232;
    color: white;
    border: none;
  }

  .btn-custom.dark-mode:hover {
    background-color: #722643;
    border: none;
  }

  h1{
    color: var(--purple-dark);
  }

  .card-title{
    font-size: 24px !important;
  }

  h1.dark-mode{
  color: #e0e0e0 !important;
}

</style>

<div class="container">
  <h1 class="text-center mb-5 fw-bold">
    Bienvenido al Sistema de Administración de Nóminas y Plazas SEP MORELIA
  </h1>

  <!-- Primera fila de tarjetas -->
  <div class="row gy-4">

    <div class="col-md-4">
      <div class="card text-center shadow-sm">
        <div class="card-body">
          <i class="bi bi-database card-icon"></i>
          <h1 class="card-title">Consulta Global</h1>
          <p class="card-text">Consulta todos los modulso en uno solo</p>
          <a href="/consulta_global/" class="btn btn-custom">Ir a Consulta Global</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card text-center shadow-sm">
        <div class="card-body">
          <i class="bi bi-file-earmark-text-fill card-icon"></i>
          <h1 class="card-title">Nóminas</h1>
          <p class="card-text">Consulta y genera reportes de nóminas.</p>
          <a href="/nominas/" class="btn btn-custom">Ir a Nóminas</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card text-center shadow-sm">
        <div class="card-body">
          <i class="bi bi-graph-up card-icon"></i>
          <h1 class="card-title">Analitico</h1>
          <p class="card-text">Ajusta las opciones del sistema y usuarios.</p>
          <a href="/analitico/" class="btn btn-custom">Ir al Analitico</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Segunda fila de tarjetas -->
  <div class="row gy-4 mt-4">
    <div class="col-md-4">
      <div class="card text-center shadow-sm">
        <div class="card-body">
          <i class="bi bi-building-fill card-icon"></i>
          <h1 class="card-title">Gestion de Plazas</h1>
          <p class="card-text">Genera y exporta reportes detallados.</p>
          <a href="/plazas/" class="btn btn-custom">Ir a Plazas</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card text-center shadow-sm">
        <div class="card-body">
          <i class="bi bi-calendar-fill card-icon"></i>
          <h1 class="card-title">Gestion MDP</h1>
          <p class="card-text">Consulta eventos y fechas importantes.</p>
          <a href="/mdp/" class="btn btn-custom">Ir a MDP</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card text-center shadow-sm">
        <div class="card-body">
          <i class="bi bi-calendar-fill card-icon"></i>
          <h1 class="card-title">Gestion Listas negras</h1>
          <p class="card-text">Consulta eventos y fechas importantes.</p>
          <a href="/lista_negra/" class="btn btn-custom">Ir a Lista negra</a>
        </div>
      </div>
    </div>

      <!-- Segunda fila de tarjetas -->


  <div class="row gy-4 mt-4">

    <div class="col-md-4">
      <div class="card text-center shadow-sm">
        <div class="card-body">
          <i class="bi bi-people-fill card-icon"></i>
          <h1 class="card-title">Personas</h1>
          <p class="card-text">Administra los datos del personal y sus plazas.</p>
          <a href="{% url 'personas_home' %}" class="btn btn-custom">Ir a Gestión</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card text-center shadow-sm">
        <div class="card-body">
          <i class="bi bi-bar-chart-fill card-icon"></i>
          <h1 class="card-title">Reportes</h1>
          <p class="card-text">Genera y exporta reportes detallados.</p>
          <a href="/reportes/" class="btn btn-custom">Ir a Reportes</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card text-center shadow-sm">
        <div class="card-body">
          <i class="bi bi-calendar-fill card-icon"></i>
          <h1 class="card-title">Calendario</h1>
          <p class="card-text">Consulta eventos y fechas importantes.</p>
          <a href="/calendario/" class="btn btn-custom">Ir a Calendario</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card text-center shadow-sm">
      <div class="card-body">
        <i class="bi bi-person-fill-lock card-icon"></i>
        <h1 class="card-title">Usuarios</h1>
        <p class="card-text">Gestiona los roles y permisos del sistema.</p>
        <a href="{% url 'usuarios' %}" class="btn btn-custom">Ir a Usuarios</a>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card text-center shadow-sm">
      <div class="card-body">
        <i class="bi bi-gear-fill card-icon"></i>
        <h1 class="card-title">Configuración</h1>
        <p class="card-text">Ajusta las opciones del sistema y usuarios.</p>
        <a href="/configuracion/" class="btn btn-custom">Ir a Configuración</a>
      </div>
    </div>
  </div>

</div>
{% endblock %}
