<div class="tab-content active" id="tab-contacto">
    <div class="separador">
        <div class="form-container">


            <div class="form-group">
                <label class="form-label" for="{{ inmueble.CONTACTO_CV_CARGO.id_for_label }}">Contacto CV Cargo:</label>
                {{ inmueble.CONTACTO_CV_CARGO }}
              </div>
              <div class="form-group">
                <label class="form-label" for="{{ inmueble.CONTACTO_C_CARGO.id_for_label }}">Contacto C Cargo:</label>
                {{ inmueble.CONTACTO_C_CARGO }}
              </div>
              <div class="form-group">
                <label class="form-label" for="{{ inmueble.CONTACTO_CV_TIPODIRECTOR.id_for_label }}">Contacto CV Tipo
                  Director:</label>
                {{ inmueble.CONTACTO_CV_TIPODIRECTOR }}
              </div>
              <div class="form-group">
                <label class="form-label" for="{{ inmueble.CONTACTO_C_TIPODIRECTOR.id_for_label }}">Contacto C Tipo
                  Director:</label>
                {{ inmueble.CONTACTO_C_TIPODIRECTOR }}
              </div>
              <div class="form-group">
                <label class="form-label" for="{{ inmueble.CONTACTO_C_ASOCIACION.id_for_label }}">Contacto C Asociación:</label>
                {{ inmueble.CONTACTO_C_ASOCIACION }}
              </div>
              <div class="form-group">
                <label class="form-label" for="{{ inmueble.CONTACTO_C_CURP.id_for_label }}">Contacto C CURP:</label>
                {{ inmueble.CONTACTO_C_CURP }}
              </div>
              <div class="form-group">
                <label class="form-label" for="{{ inmueble.CONTACTO_C_RFC.id_for_label }}">Contacto C RFC:</label>
                {{ inmueble.CONTACTO_C_RFC }}
              </div>
              <div class="form-group">
                <label class="form-label" for="{{ inmueble.CONTACTO_C_NOMBRE.id_for_label }}">Contacto C Nombre:</label>
                {{ inmueble.CONTACTO_C_NOMBRE }}
              </div>
              <div class="form-group">
                <label class="form-label" for="{{ inmueble.CONTACTO_C_APELLIDO1.id_for_label }}">Contacto C Apellido 1:</label>
                {{ inmueble.CONTACTO_C_APELLIDO1 }}
              </div>
              <div class="form-group">
                <label class="form-label" for="{{ inmueble.CONTACTO_C_APELLIDO2.id_for_label }}">Contacto C Apellido 2:</label>
                {{ inmueble.CONTACTO_C_APELLIDO2 }}
              </div>
              <div class="form-group">
                <label class="form-label" for="{{ inmueble.CONTACTO_C_TELEFONO.id_for_label }}">Contacto C Teléfono:</label>
                {{ inmueble.CONTACTO_C_TELEFONO }}
              </div>
              <div class="form-group">
                <label class="form-label" for="{{ inmueble.CONTACTO_C_CELULAR.id_for_label }}">Contacto C Celular:</label>
                {{ inmueble.CONTACTO_C_CELULAR }}
              </div>
              <div class="form-group">
                <label class="form-label" for="{{ inmueble.CONTACTO_C_EMAIL.id_for_label }}">Contacto C Email:</label>
                {{ inmueble.CONTACTO_C_EMAIL }}
              </div>
              <div class="form-group">
                <label class="form-label" for="{{ inmueble.CONTACTO_C_EXTENSION.id_for_label }}">Contacto C Extensión:</label>
                {{ inmueble.CONTACTO_C_EXTENSION }}
              </div>
              <div class="form-group">
                <label class="form-label" for="{{ inmueble.CONTACTO_C_PWEB.id_for_label }}">Contacto C Página Web:</label>
                {{ inmueble.CONTACTO_C_PWEB }}
              </div>


        </div>
    </div>
</div>
