<div class="tab-content active" id="tab-inmueble">
    <div class="separador">
        <div class="form-container">


            <div class="form-group">
                <label class="form-label" for="{{ inmueble.INMUEBLE_CV_INMUEBLE.id_for_label }}">Inmueble CV Inmueble:</label>
                {{ inmueble.INMUEBLE_CV_INMUEBLE }}
              </div>
              <div class="form-group">
                <label class="form-label" for="{{ inmueble.INMUEBLE_C_VIALIDAD_PRINCIPAL.id_for_label }}">Inmueble C Vialidad
                  Principal:</label>
                {{ inmueble.INMUEBLE_C_VIALIDAD_PRINCIPAL }}
              </div>
              <div class="form-group">
                <label class="form-label" for="{{ inmueble.INMUEBLE_C_VIALIDAD_DERECHA.id_for_label }}">Inmueble C Vialidad
                  Derecha:</label>
                {{ inmueble.INMUEBLE_C_VIALIDAD_DERECHA }}
              </div>
              <div class="form-group">
                <label class="form-label" for="{{ inmueble.INMUEBLE_C_VIALIDAD_IZQUIERDA.id_for_label }}">Inmueble C Vialidad
                  Izquierda:</label>
                {{ inmueble.INMUEBLE_C_VIALIDAD_IZQUIERDA }}
              </div>
              <div class="form-group">
                <label class="form-label" for="{{ inmueble.INMUEBLE_C_VIALIDAD_POSTERIOR.id_for_label }}">Inmueble C Vialidad
                  Posterior:</label>
                {{ inmueble.INMUEBLE_C_VIALIDAD_POSTERIOR }}
              </div>
              <div class="form-group">
                <label class="form-label" for="{{ inmueble.INMUEBLE_N_EXTNUM.id_for_label }}">Inmueble N ExtNum:</label>
                {{ inmueble.INMUEBLE_N_EXTNUM }}
              </div>
              <div class="form-group">
                <label class="form-label" for="{{ inmueble.INMUEBLE_C_EXTALF.id_for_label }}">Inmueble C ExtAlf:</label>
                {{ inmueble.INMUEBLE_C_EXTALF }}
              </div>
              <div class="form-group">
                <label class="form-label" for="{{ inmueble.INMUEBLE_N_INTNUM.id_for_label }}">Inmueble N IntNum:</label>
                {{ inmueble.INMUEBLE_N_INTNUM }}
              </div>
              <div class="form-group">
                <label class="form-label" for="{{ inmueble.INMUEBLE_C_INTALF.id_for_label }}">Inmueble C IntAlf:</label>
                {{ inmueble.INMUEBLE_C_INTALF }}
              </div>
              <div class="form-group">
                <label class="form-label" for="{{ inmueble.INMUEBLE_CV_ENT.id_for_label }}">Inmueble CV Ent:</label>
                {{ inmueble.INMUEBLE_CV_ENT }}
              </div>
              <div class="form-group">
                <label class="form-label" for="{{ inmueble.INMUEBLE_C_NOM_ENT.id_for_label }}">Inmueble C Nom Ent:</label>
                {{ inmueble.INMUEBLE_C_NOM_ENT }}
              </div>
              <div class="form-group">
                <label class="form-label" for="{{ inmueble.INMUEBLE_CV_MUN.id_for_label }}">Inmueble CV Mun:</label>
                {{ inmueble.INMUEBLE_CV_MUN }}
              </div>
              <div class="form-group">
                <label class="form-label" for="{{ inmueble.INMUEBLE_C_NOM_MUN.id_for_label }}">Inmueble C Nom Mun:</label>
                {{ inmueble.INMUEBLE_C_NOM_MUN }}
              </div>
              <div class="form-group">
                <label class="form-label" for="{{ inmueble.Zona_Economica.id_for_label }}">Zona Económica:</label>
                {{ inmueble.Zona_Economica }}
              </div>

        </div>
    </div>
</div>