<div class="tab-content active" id="tab-encabezado">
  <div class="separador">
    <div class="form-container">
      <div class="form-group">
        <label class="form-label" for="{{ inmueble.C_NOMBRE.id_for_label }}">C Nombre:</label>
        {{ inmueble.C_NOMBRE }}
      </div>
      <div class="form-group">
        <label class="form-label" for="{{ inmueble.CV_TIPO.id_for_label }}">CV Tipo:</label>
        {{ inmueble.CV_TIPO }}
      </div>
      <div class="form-group">
        <label class="form-label" for="{{ inmueble.C_TIPO.id_for_label }}">C Tipo:</label>
        {{ inmueble.C_TIPO }}
      </div>
      <div class="form-group">
        <label class="form-label" for="{{ inmueble.CV_ADMINISTRATIVA.id_for_label }}">CV Administrativa:</label>
        {{ inmueble.CV_ADMINISTRATIVA }}
      </div>
      <div class="form-group">
        <label class="form-label" for="{{ inmueble.C_ADMINISTRATIVA.id_for_label }}">C Administrativa:</label>
        {{ inmueble.C_ADMINISTRATIVA }}
      </div>
      <div class="form-group">
        <label class="form-label" for="{{ inmueble.CV_ESTATUS.id_for_label }}">CV Estatus:</label>
        {{ inmueble.CV_ESTATUS }}
      </div>
      <div class="form-group">
        <label class="form-label" for="{{ inmueble.C_ESTATUS.id_for_label }}">C Estatus:</label>
        {{ inmueble.C_ESTATUS }}
      </div>
      <div class="form-group">
        <label class="form-label" for="{{ inmueble.F_FUNDACION.id_for_label }}">F Fundación:</label>
        {{ inmueble.F_FUNDACION }}
      </div>
      <div class="form-group">
        <label class="form-label" for="{{ inmueble.ALTA_SISTEMA.id_for_label }}">Alta Sistema:</label>
        {{ inmueble.ALTA_SISTEMA }}
      </div>
      <div class="form-group">
        <label class="form-label" for="{{ inmueble.CAMBIO.id_for_label }}">Cambio:</label>
        {{ inmueble.CAMBIO }}
      </div>
      <div class="form-group">
        <label class="form-label" for="{{ inmueble.CLAUSURA.id_for_label }}">Clausura:</label>
        {{ inmueble.CLAUSURA }}
      </div>

      <div class="form-group">
        <label class="form-label" for="{{ inmueble.REAPERTURA.id_for_label }}">Reapertura:</label>
        {{ inmueble.REAPERTURA }}
      </div>
      <div class="form-group">
        <label class="form-label" for="{{ inmueble.REAPERTURA_CON_CAMBIO.id_for_label }}">Reapertura con Cambio:</label>
        {{ inmueble.REAPERTURA_CON_CAMBIO }}
      </div>


      <div class="form-group">
        <label class="form-label" for="{{ inmueble.DEPOPERATIVA_CV_DEPENDENCIAN5.id_for_label }}">DepOperativa CV
          Dependencia N5:</label>
        {{ inmueble.DEPOPERATIVA_CV_DEPENDENCIAN5 }}
      </div>
      <div class="form-group">
        <label class="form-label" for="{{ inmueble.DEPOPERATIVA_C_DEPENDENCIAN5.id_for_label }}">DepOperativa C
          Dependencia N5:</label>
        {{ inmueble.DEPOPERATIVA_C_DEPENDENCIAN5 }}
      </div>


      <div class="form-group">
        <label class="form-label" for="{{ inmueble.SUPERVISION_CV_CCT.id_for_label }}">Supervisión CV CCT:</label>
        {{ inmueble.SUPERVISION_CV_CCT }}
      </div>
      <div class="form-group">
        <label class="form-label" for="{{ inmueble.JEFSEC_CV_CCT.id_for_label }}">Jefatura CV CCT:</label>
        {{ inmueble.JEFSEC_CV_CCT }}
      </div>
      <div class="form-group">
        <label class="form-label" for="{{ inmueble.SERREG_CV_CCT.id_for_label }}">Servicio Regional CV CCT:</label>
        {{ inmueble.SERREG_CV_CCT }}
      </div>
      <div class="form-group">
        <label class="form-label" for="{{ inmueble.INSTITUCION_PLANTEL.id_for_label }}">Institución Plantel:</label>
        {{ inmueble.INSTITUCION_PLANTEL }}
      </div>
      <div class="form-group">
        <label class="form-label" for="{{ inmueble.C_TURNO_1.id_for_label }}">Turno 1:</label>
        {{ inmueble.C_TURNO_1 }}
      </div>
      <div class="form-group">
        <label class="form-label" for="{{ inmueble.C_TURNO_2.id_for_label }}">Turno 2:</label>
        {{ inmueble.C_TURNO_2 }}
      </div>
      <div class="form-group">
        <label class="form-label" for="{{ inmueble.C_TURNO_3.id_for_label }}">Turno 3:</label>
        {{ inmueble.C_TURNO_3 }}
      </div>

      <div class="form-group">
        <label class="form-label" for="{{ inmueble.TIPONIVELSUB_CV_SERVICION1.id_for_label }}">Tipo Nivel Sub CV
          Servicio N1:</label>
        {{ inmueble.TIPONIVELSUB_CV_SERVICION1 }}
      </div>
      <div class="form-group">
        <label class="form-label" for="{{ inmueble.TIPONIVELSUB_C_SERVICION1.id_for_label }}">Tipo Nivel Sub C Servicio
          N1:</label>
        {{ inmueble.TIPONIVELSUB_C_SERVICION1 }}
      </div>
      <div class="form-group">
        <label class="form-label" for="{{ inmueble.TIPONIVELSUB_CV_SERVICION2.id_for_label }}">Tipo Nivel Sub CV
          Servicio N2:</label>
        {{ inmueble.TIPONIVELSUB_CV_SERVICION2 }}
      </div>
      <div class="form-group">
        <label class="form-label" for="{{ inmueble.TIPONIVELSUB_C_SERVICION2.id_for_label }}">Tipo Nivel Sub C Servicio
          N2:</label>
        {{ inmueble.TIPONIVELSUB_C_SERVICION2 }}
      </div>
      <div class="form-group">
        <label class="form-label" for="{{ inmueble.TIPONIVELSUB_CV_SERVICION3.id_for_label }}">Tipo Nivel Sub CV
          Servicio N3:</label>
        {{ inmueble.TIPONIVELSUB_CV_SERVICION3 }}
      </div>
      <div class="form-group">
        <label class="form-label" for="{{ inmueble.TIPONIVELSUB_C_SERVICION3.id_for_label }}">Tipo Nivel Sub C Servicio
          N3:</label>
        {{ inmueble.TIPONIVELSUB_C_SERVICION3 }}
      </div>
      <div class="form-group">
        <label class="form-label" for="{{ inmueble.C_SERVICIO_CAM.id_for_label }}">C Servicio CAM:</label>
        {{ inmueble.C_SERVICIO_CAM }}
      </div>
      <div class="form-group">
        <label class="form-label" for="{{ inmueble.CARACTERISTCA_CV_CARACTERIZAN1.id_for_label }}">Característica CV
          Caracteriza N1:</label>
        {{ inmueble.CARACTERISTCA_CV_CARACTERIZAN1 }}
      </div>
      <div class="form-group">
        <label class="form-label" for="{{ inmueble.CARACTERISTCA_C_CARACTERIZAN1.id_for_label }}">Característica C
          Caracteriza N1:</label>
        {{ inmueble.CARACTERISTCA_C_CARACTERIZAN1 }}
      </div>
      <div class="form-group">
        <label class="form-label" for="{{ inmueble.CARACTERISTCA_CV_CARACTERIZAN2.id_for_label }}">Característica CV
          Caracteriza N2:</label>
        {{ inmueble.CARACTERISTCA_CV_CARACTERIZAN2 }}
      </div>
      <div class="form-group">
        <label class="form-label" for="{{ inmueble.CARACTERISTCA_C_CARACTERIZAN2.id_for_label }}">Característica C
          Caracteriza N2:</label>
        {{ inmueble.CARACTERISTCA_C_CARACTERIZAN2 }}
      </div>
    </div>



  </div>
</div>





<style>
  .form-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
  }

  .form-group {
    display: flex;
    flex-direction: column;
  }

  .form-label {
    margin-bottom: 4px;
    font-weight: bold;
  }

  .modal-content {
    display: block;
    margin: auto;
    max-width: 1100%;
    max-height: 160%;
  }

  .form-group input {
    border-radius: 8px;
    border: 1px solid #d1d5db;
    padding: 10px;
    font-size: 1rem;
  }

  .input {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .375rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }
</style>