<div class="tab-content active" id="tab-sostenimiento">
    <div class="separador">
        <div class="form-container">
            <div class="form-group">
                <label class="form-label" for="{{ inmueble.SOSTENIMIENTO_CV_CONTROL.id_for_label }}">Sostenimiento CV
                    Control:</label>
                {{ inmueble.SOSTENIMIENTO_CV_CONTROL }}
            </div>
            <div class="form-group">
                <label class="form-label" for="{{ inmueble.SOSTENIMIENTO_C_CONTROL.id_for_label }}">Sostenimiento C
                    Control:</label>
                {{ inmueble.SOSTENIMIENTO_C_CONTROL }}
            </div>
            <div class="form-group">
                <label class="form-label" for="{{ inmueble.SOSTENIMIENTO_CV_SUBCONTROL.id_for_label }}">Sostenimiento CV
                    Subcontrol:</label>
                {{ inmueble.SOSTENIMIENTO_CV_SUBCONTROL }}
            </div>
            <div class="form-group">
                <label class="form-label" for="{{ inmueble.SOSTENIMIENTO_C_SUBCONTROL.id_for_label }}">Sostenimiento C
                    Subcontrol:</label>
                {{ inmueble.SOSTENIMIENTO_C_SUBCONTROL }}
            </div>
            <div class="form-group">
                <label class="form-label" for="{{ inmueble.SOSTENIMIENTO_CV_DEPENDENCIAN1.id_for_label }}">Sostenimiento
                    CV
                    Dependencia N1:</label>
                {{ inmueble.SOSTENIMIENTO_CV_DEPENDENCIAN1 }}
            </div>
            <div class="form-group">
                <label class="form-label" for="{{ inmueble.SOSTENIMIENTO_C_DEPENDENCIAN1.id_for_label }}">Sostenimiento
                    C
                    Dependencia N1:</label>
                {{ inmueble.SOSTENIMIENTO_C_DEPENDENCIAN1 }}
            </div>
            <div class="form-group">
                <label class="form-label" for="{{ inmueble.SOSTENIMIENTO_CV_DEPENDENCIAN2.id_for_label }}">Sostenimiento
                    CV
                    Dependencia N2:</label>
                {{ inmueble.SOSTENIMIENTO_CV_DEPENDENCIAN2 }}
            </div>
            <div class="form-group">
                <label class="form-label" for="{{ inmueble.SOSTENIMIENTO_C_DEPENDENCIAN2.id_for_label }}">Sostenimiento
                    C
                    Dependencia N2:</label>
                {{ inmueble.SOSTENIMIENTO_C_DEPENDENCIAN2 }}
            </div>
            <div class="form-group">
                <label class="form-label" for="{{ inmueble.SOSTENIMIENTO_CV_DEPENDENCIAN3.id_for_label }}">Sostenimiento
                    CV
                    Dependencia N3:</label>
                {{ inmueble.SOSTENIMIENTO_CV_DEPENDENCIAN3 }}
            </div>
            <div class="form-group">
                <label class="form-label" for="{{ inmueble.SOSTENIMIENTO_C_DEPENDENCIAN3.id_for_label }}">Sostenimiento
                    C
                    Dependencia N3:</label>
                {{ inmueble.SOSTENIMIENTO_C_DEPENDENCIAN3 }}
            </div>
            <div class="form-group">
                <label class="form-label" for="{{ inmueble.SOSTENIMIENTO_CV_DEPENDENCIAN4.id_for_label }}">Sostenimiento
                    CV
                    Dependencia N4:</label>
                {{ inmueble.SOSTENIMIENTO_CV_DEPENDENCIAN4 }}
            </div>
            <div class="form-group">
                <label class="form-label" for="{{ inmueble.SOSTENIMIENTO_C_DEPENDENCIAN4.id_for_label }}">Sostenimiento
                    C
                    Dependencia N4:</label>
                {{ inmueble.SOSTENIMIENTO_C_DEPENDENCIAN4 }}
            </div>

        </div>
    </div>
</div>