<div class="tab-content active" id="tab-ubicacion">
  <div class="separador">
    <div class="form-container">
      <div class="form-group">
        <label class="form-label" for="{{ inmueble.fotografia_de_la_ubicacion.id_for_label }}">Fotografía de la Ubicación:</label>
        {{ inmueble.fotografia_de_la_ubicacion }}
      </div>
      <div class="form-group">
        <label class="form-label" for="{{ inmueble.INMUEBLE_CV_LOC.id_for_label }}">Inmueble CV Loc:</label>
        {{ inmueble.INMUEBLE_CV_LOC }}
      </div>
      <div class="form-group">
        <label class="form-label" for="{{ inmueble.INMUEBLE_C_NOM_LOC.id_for_label }}">Inmueble C Nom Loc:</label>
        {{ inmueble.INMUEBLE_C_NOM_LOC }}
      </div>
      <div class="form-group">
        <label class="form-label" for="{{ inmueble.INMUEBLE_CV_AMBITO.id_for_label }}">Inmueble CV Ámbito:</label>
        {{ inmueble.INMUEBLE_CV_AMBITO }}
      </div>

      <div class="form-group">
        <label class="form-label" for="{{ inmueble.INMUEBLE_C_NOM_AMBITO.id_for_label }}">Inmueble C Nom Ámbito:</label>
        {{ inmueble.INMUEBLE_C_NOM_AMBITO }}
      </div>
      <div class="form-group">
        <label class="form-label" for="{{ inmueble.INMUEBLE_CV_ASEN.id_for_label }}">Inmueble CV Asen:</label>
        {{ inmueble.INMUEBLE_CV_ASEN }}
      </div>
      <div class="form-group">
        <label class="form-label" for="{{ inmueble.INMUEBLE_C_NOM_ASEN.id_for_label }}">Inmueble C Nom Asen:</label>
        {{ inmueble.INMUEBLE_C_NOM_ASEN }}
      </div>
      <div class="form-group">
        <label class="form-label" for="{{ inmueble.INMUEBLE_CV_TIPO_ASEN.id_for_label }}">Inmueble CV Tipo Asen:</label>
        {{ inmueble.INMUEBLE_CV_TIPO_ASEN }}
      </div>
      <div class="form-group">
        <label class="form-label" for="{{ inmueble.INMUEBLE_C_TIPO_ASEN.id_for_label }}">Inmueble C Tipo Asen:</label>
        {{ inmueble.INMUEBLE_C_TIPO_ASEN }}
      </div>
      <div class="form-group">
        <label class="form-label" for="{{ inmueble.INMUEBLE_CV_CODIGO_POSTAL.id_for_label }}">Inmueble CV Código
          Postal:</label>
        {{ inmueble.INMUEBLE_CV_CODIGO_POSTAL }}
      </div>
      <div class="form-group">
        <label class="form-label" for="{{ inmueble.INMUEBLE_C_DESC_UBICACION.id_for_label }}">Inmueble C Desc
          Ubicación:</label>
        {{ inmueble.INMUEBLE_C_DESC_UBICACION }}
      </div>
      <div class="form-group">
        <label class="form-label" for="{{ inmueble.INMUEBLE_LATITUD.id_for_label }}">Inmueble Latitud:</label>
        {{ inmueble.INMUEBLE_LATITUD }}
      </div>
      <div class="form-group">
        <label class="form-label" for="{{ inmueble.INMUEBLE_LONGITUD.id_for_label }}">Inmueble Longitud:</label>
        {{ inmueble.INMUEBLE_LONGITUD }}
      </div>
    </div>
  </div>
</div>